# Dependencies
node_modules/
**/node_modules/

# Root - IDE and OS files
.DS_Store
.idea
.vscode
*.swp
*.swo

# Backend (Java/Spring Boot)
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
backend-logs.txt

# Frontend (React Native/Expo)
mobile/.expo/
mobile/.expo-shared/
mobile/dist/
mobile/web-build/

# Environments
.env
.env.*